.importantinfo
	h3.main-title Важная информация
	.importantinfo__text
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium, error recusandae quae quibusdam sunt aperiam, ullam modi alias corporis facere autem sed temporibus itaque perspiciatis ab eum provident eius.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium, error recusandae quae quibusdam sunt aperiam, ullam modi alias corporis facere autem sed temporibus itaque perspiciatis ab eum provident eius.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium, error recusandae quae quibusdam sunt aperiam, ullam modi alias corporis facere autem sed temporibus itaque perspiciatis ab eum provident eius.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium, error recusandae quae quibusdam sunt aperiam, ullam modi alias corporis facere autem sed temporibus itaque perspiciatis ab eum provident eius.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium, error recusandae quae quibusdam sunt aperiam, ullam modi alias corporis facere autem sed temporibus itaque perspiciatis ab eum provident eius.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium, error recusandae quae quibusdam sunt aperiam, ullam modi alias corporis facere autem sed temporibus itaque perspiciatis ab eum provident eius.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium, error recusandae quae quibusdam sunt aperiam, ullam modi alias corporis facere autem sed temporibus itaque perspiciatis ab eum provident eius.