-
	var insideLi = [
		["#","Карта проезда"],
		["#","История заказов"],
		["#","Корзина"]
	]
header.header
	.container
		img.logo.logo-header(src="img/logos/cooltech-h.png", alt="Логотип")
		.search
			input(type="search" placeholder="Что будем искать").search__text
			input(type="submit" value="Найти").search__submit
		ul.insite-links
			each item in insideLi
				li.insite-links__link
					a.insite-links__a(href="#{item[0]}") #{item[1]}
		
