-
	var navLi = [
		["#","Планшеты"],
		["#","Мобильные телефоны"],
		["#","Mp3 плееры"],
		["#","Персональные компьютеры"],
		["#","Ноутбуки"],
		["#","Аксессуары"],
		["#","Бытовая техника"]
	]
nav.nav
	.container
		ul.nav__list
			each item in navLi
				li(class="nav__item nav__item_" + ((item[1]=="Мобильные телефоны") ? 'active' : '' ))
					a.nav__link(href="#{item[0]}") #{item[1]}